<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyTestApp.My.MySettings.LibrarySyetemConnectionString"
            connectionString="Data Source=KAZUKI-BOARDPC\SQLEXPRESS;Initial Catalog=LibrarySyetem;User ID=sa;Password=sha91ekzP;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>