<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTestApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyTestApp.My.MySettings.LibrarySyetemConnectionString"
            connectionString="Data Source=KAZUKI-BOARDPC\SQLEXPRESS;Initial Catalog=LibrarySyetem;User ID=sa;Password=sha91ekzP;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <MyTestApp.My.MySettings>
            <setting name="RoundRule" serializeAs="String">
                <value>Floor</value>
            </setting>
        </MyTestApp.My.MySettings>
    </userSettings>
</configuration>